.playback-row {
  width: 75vw;
  min-width: 600px;
  /* max-width: 1100px; */
  margin: 0 auto 18px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.play-btn {
  background: none;
  border: none;
  font-size: 1.3em;
  cursor: pointer;
  padding: 6px 10px;
  color: #2074df;
}

.playback-seeker {
  width: 100%;
  accent-color: #2074df;
  height: 4px;
  border-radius: 6px;
  background: #e3eefd;
  outline: none;
  margin: 0 10px;
  cursor: pointer;
}

.playback-time {
  font-size: 1em;
  /* min-width: 70px; */
  text-align: center;
  color: #111;
}

.playback-speed {
  font-size: 1em;
  padding: 2px 12px;
  border-radius: 6px;
  border: 1px solid #b3c6e0;
  background: #fff;
  margin-left: 10px;
}
